:root {
  --primary-color: #7001FD;
  --text-color: #555555;
  --secondary-color: #1E2772;
  --bg-color: #EEEEEE;
}

main {
  display: flex;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.main-section {
  flex-grow: 1;
  background-color: #EEEEEE;

  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;

  gap: 16px;
  padding: 32px;
}

.main-section h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  max-width: 300px;
}

.main-section img {
  width: 420px;        
  max-width: 80%;
  height: auto;
}

.form-section {
  flex-grow: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 45px;
  margin-top: 20px;
}

.form-section button {
  width: 70%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  padding: 12px 24px;
}

.form-section .btn-primary {
  background-color: #7001FD;
  color: white;
  box-shadow: 0px 2px 12px rgb(175, 175, 175);
}

.form-section .btn-secondary {
  border: 1px solid #7001FD;
  color: #7001FD;
}

.form-section .btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.dividir {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 8px;
}

.dividir div {
  flex: 1;
  height: 1px;
  background-color: #d1d1d1;
}

.dividir span {
  color: #d1d1d1;
  font-size: 12px;
  font-weight: 400;
}


